@{
    ViewBag.Title = "Home Page";
}
<section class="homepage">
    <div class="jumbotron">
        <h1>Employee Helper</h1>
        <p class="lead">ASP.NET Web Application</p>
        <p><a href="/Employee/Index" class="btn btn-primary btn-lg">Register Employees &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>OverTime</h2>
            <p>
                Choose a date to create an OverTime event for employees.
            </p>
            <p><a class="btn btn-primary btn-lg" href="/OverTime/Index">OverTime List &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Shifts</h2>
            <p>Update current shifts in rotation and view all of employees per shift.</p>
            <p><a class="btn btn-primary btn-lg" href="/Shift/Index">Shift List &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Buffers</h2>
            <p>Create buffer replacement dates for various tanks in production.</p>
            <p><a class="btn btn-primary btn-lg" href="/BufferReplacement/Index">Buffer Dates &raquo;</a></p>
        </div>
    </div>
</section>